body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: url('poltek.jpeg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px;
  width: 350px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-align: center;
}

.register-container h2 {
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

.register-btn {
  width: 106%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  background-color: #0056b3;
}

.error {
  color: #ffcccc;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: none;
}
